/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End of CSS Reset */

/* Global styles */
:root {
    /* Color Variables */
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --accent-color: #28a745;
    --background-color: #f8f9fa;
    --text-color-dark: #343a40;
    --text-color-light: #ffffff;
    --container-color: #ffffff;
    --border-color-light: #dee2e6;
    --border-color-dark: #343a40;
    --border-color-medium: #ced4da;
    --shadow-color: rgba(0, 0, 0, 0.15);
    --overlay-color: rgba(0, 0, 0, 0.5);
    --hover-color: rgba(0, 0, 0, 0.1);

    /* Button Colors */
    --button-color-primary: #007bff;
    --button-color-primary-hover: #0056b3;
    --button-color-complete: #28a745;
    --button-color-complete-hover: #218838;
    --button-color-delete: #dc3545;
    --button-color-delete-hover: #c82333;
    --button-color-edit: #ffc107;
    --button-color-edit-hover: #e0a800;
    --button-color-save: #28a745;
    --button-color-save-hover: #218838;

    /* Typography Variables */
    --font-family-base: "Roboto", sans-serif;
    --font-size-base: 16px;
    --font-size-small: 14px;
    --font-size-large: 18px;
    --font-size-h1: 2rem;
    --font-size-h2: 1.5rem;
    --font-size-h3: 1.25rem;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --line-height-base: 1.6;
    --letter-spacing-base: 0.05rem;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-base);
    background-color: var(--background-color);
}

/* Header */
header {
    background-color: var(--primary-color);
    width: 100%;
    position: fixed;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 100;
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-base);
}
/* End of Header */

/* Main */
h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
    color: var(--text-color-dark);
    margin: 20px 0;
}

p {
    font-size: var(--font-size-base);
    color: var(--text-color-dark);
    margin: 10px 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

#home {
    height: 120px;
}

.first-column {
    display: flex;
    align-items: center;
    width: 80%;
    gap: 50px;
    margin: auto;
}

.second-column {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.second-column section {
    padding: 20px 40px;
    margin: 25px auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px var(--shadow-color), 0 10px 20px rgba(0, 0, 0, 0.1);
}

.second-column h2 {
    text-align: center;
}

/* Search Book Section */
.search-book {
    flex: 3;
    width: 100%;
    padding: 20px 0;
}

.search-book form {
    display: flex;
}

.search-book input {
    flex: 2;
    padding: 10px 20px;
    font-size: var(--font-size-large);
    border: 1px solid var(--border-color-light);
    border-radius: 50px 0 0 50px;
    outline: none;
}

.search-book button {
    padding: 10px 20px;
    font-size: var(--font-size-large);
    border: none;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-book button:hover {
    background-color: var(--primary-color);
}
/* End of Search Book Section */

/* Add Button */
.add-button {
    flex: 1;
    width: 100%;
    padding: 15px 25px;
    font-size: var(--font-size-large);
    cursor: pointer;
    border-radius: 50px;
    background-color: var(--secondary-color);
    color: var(--text-color-light);
    text-align: center;
    font-weight: var(--font-weight-bold);
    margin: 20px auto;
    transition: background-color 0.3s ease, transform 0.3s ease,
        box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-button:hover {
    background-color: var(--primary-color);
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.add-button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--container-color);
    padding: 20px;
    box-shadow: 0 5px 15px var(--shadow-color);
    z-index: 1000;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    z-index: 999;
}

.modal.show,
.modal-overlay.show {
    display: block;
}
/* End of Add Button */

/* Form to Add Book */
.add-book {
    background-color: var(--container-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow-color);
    margin: 20px;
    max-width: 600px;
    width: 80%;
    text-align: center;
}

.add-book div {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.add-book form {
    align-items: center;
    max-width: 80%;
    margin: 20px auto;
}

.add-book div:nth-of-type(4) {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.add-book label {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
    margin-bottom: 5px;
    text-align: left;
}

.add-book input {
    padding: 10px;
    border: 1px solid var(--border-color-medium);
    border-radius: 5px;
    font-size: var(--font-size-base);
    width: 100%;
    box-sizing: border-box;
}

.add-book input:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 5px var(--shadow-color);
}

.add-book input[type="checkbox"] {
    display: flex;
    width: 30px;
}

.add-book button {
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: var(--container-color);
    border: none;
    border-radius: 5px;
    font-size: var(--font-size-base);
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-book button:hover {
    opacity: 0.6;
}

.add-book span {
    font-weight: var(--font-weight-bold);
}
/* End of Form to Add Book */

.book-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.book-item {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: space-between;
    transition: transform 0.3s ease;
}

.book-item:hover {
    transform: translateY(-10px);
}

.book-cover {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.book-content {
    padding: 40px 20px 0 20px;
}

.book-item h3 {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-bold);
}

.book-item p {
    line-height: 1;
}

.button-container {
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.button-style {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    margin: 10px;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease, transform 0.3s ease,
        box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-style:hover {
    background-color: var(--primary-color);
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.button-style:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-style:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--primary-color);
}

.button-complete {
    background-color: var(--button-color-complete);
}

.button-complete:hover {
    background-color: var(--button-color-complete-hover);
}

.button-delete {
    background-color: var(--button-color-delete);
}

.button-delete:hover {
    background-color: var(--button-color-delete-hover);
}

.button-edit {
    background-color: var(--button-color-edit);
    color: black;
}

.button-edit:hover {
    background-color: var(--button-color-edit-hover);
}
/* End of Main */

/* Style for the modal form (popup) */
#editBookContainer {
    display: none; /* Initially hidden */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--container-color);
    padding: 20px;
    box-shadow: 0 4px 8px var(--shadow-color);
    z-index: 1000;
    max-width: 600px;
    width: 80%;
    border-radius: 8px;
}

#editBookContainer.active {
    display: block; /* Show the form when 'active' class is added */
}

#editBookContainer h2 {
    text-align: center;
}

.close-modal {
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 32px;
    cursor: pointer;
    text-align: center;
    width: 50px;
    height: 50px;
}

.close-modal:hover {
    background-color: var(--hover-color);
}

/* Scroll TO Top Button CSS */
.scroll-button a {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: var(--text-color-light);
    background: var(--primary-color);
    padding: 7px 12px;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
    display: none;
}

/* Responsiveness */
@media (max-width: 1200px) {
    main,
    .first-column,
    .second-column {
        width: 100%;
    }
    .first-column,
    .second-column {
        width: 90%;
    }
    .second-column section {
        padding: 15px 30px;
    }
    .book-item {
        flex: 0 1 calc(33.333% - 25px);
    }
}

@media (max-width: 992px) {
    .first-column {
        flex-direction: column;
        gap: 20px;
    }
    .second-column,
    .add-book {
        width: 90%;
    }
    .second-column section {
        padding: 10px 20px;
    }
    .add-button {
        width: 50%;
        font-size: var(--font-size-base);
    }
    .book-list-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .book-item {
        flex: 0 1 calc(50% - 25px);
    }
}

@media (max-width: 768px) {
    header {
        padding: 15px 0;
    }
    h1 {
        font-size: 1.75rem;
    }
    .first-column,
    .second-column,
    .search-book {
        width: 90%;
    }
    .second-column section {
        padding: 10px 15px;
    }
    .add-book {
        width: 95%;
    }
    .book-list-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .book-item {
        flex: 0 1 calc(50% - 25px);
    }
}

@media (max-width: 576px) {
    header {
        padding: 10px 0;
    }
    h1 {
        font-size: 1.5rem;
    }
    main {
        width: 100%;
        margin: 100px auto;
    }
    .second-column section {
        padding: 5px 10px;
    }
    .add-book {
        width: 100%;
    }
    .book-list-container {
        flex-direction: column;
    }
    .book-item {
        flex: 0 1 100%;
    }
    .search-book {
        width: 90%;
    }
    .search-book input,
    .search-book button,
    .add-button {
        font-size: var(--font-size-base);
    }
    .add-button {
        width: 50%;
    }
}
